SELECT DISTINCT
   BS. *,
   B.LIST_PAGE_URL,
   B.SECTION_PAGE_URL,
   B.IBLOCK_TYPE_ID,
   B.CODE as IBLOCK_CODE,
   B.XML_ID as IBLOCK_EXTERNAL_ID,
   BS.XML_ID as EXTERNAL_ID,
   REPLACE(
      REPLACE(
         DATE_FORMAT(
            BS.TIMESTAMP_X,
            '%m/%d/%Y %h:%i:%s %p'
         ),
         'PM',
         'pm'
      ),
      'AM',
      'am'
   ) as TIMESTAMP_X,
   REPLACE(
      REPLACE(
         DATE_FORMAT(
            BS.DATE_CREATE,
            '%m/%d/%Y %h:%i:%s %p'
         ),
         'PM',
         'pm'
      ),
      'AM',
      'am'
   ) as DATE_CREATE,
   COUNT(DISTINCT
         BE.ID) as ELEMENT_CNT
FROM
   b_iblock_section BS
   INNER JOIN b_iblock B ON
      BS.IBLOCK_ID = B.ID
   INNER JOIN b_iblock_section BSTEMP ON
      BSTEMP.IBLOCK_ID = BS.IBLOCK_ID
   LEFT JOIN b_iblock_section_element BSE ON
      BSE.IBLOCK_SECTION_ID = BSTEMP.ID
   LEFT JOIN b_iblock_element BE ON
      (
         BSE.IBLOCK_ELEMENT_ID = BE.ID
         AND (
            (
               BE.WF_STATUS_ID = 1
               AND BE.WF_PARENT_ELEMENT_ID IS NULL
            )
            AND BE.IBLOCK_ID = BS.IBLOCK_ID
         )
      )
WHERE
   1 = 1
   AND BSTEMP.IBLOCK_ID = BS.IBLOCK_ID
   AND BSTEMP.LEFT_MARGIN >= BS.LEFT_MARGIN
   AND BSTEMP.RIGHT_MARGIN <= BS.RIGHT_MARGIN
   AND (BS.IBLOCK_ID = 82)
   AND (BS.ACTIVE = 'Y')
   AND (
      BS.CODE LIKE 'DISCHARGES_QUICKLY'
   )
   AND (B.ID = 82)
   AND (
      B.ID IN (
         SELECT
            IBLOCK_ID
         FROM
            b_iblock_group IBG
         WHERE
            IBG.GROUP_ID IN (2)
            AND IBG.PERMISSION >= 'R'
            AND (
               IBG.PERMISSION = 'X'
               OR B.ACTIVE = 'Y'
            )
      )
      OR (
         B.RIGHTS_MODE = 'E'
         AND EXISTS (
            SELECT
               SR.SECTION_ID
            FROM
               b_iblock_section_right SR
               INNER JOIN b_iblock_right IBR ON
                  IBR.ID = SR.RIGHT_ID
               INNER JOIN b_user_access UA ON
                  UA.ACCESS_CODE = IBR.GROUP_CODE
                  AND UA.USER_ID = 0
            WHERE
               SR.SECTION_ID = BS.ID
               AND IBR.OP_SREAD = 'Y'
         )
      )
   )
GROUP BY
   BS.ID,
   B.ID
ORDER BY
   BS.TIMESTAMP_X DESC;

SELECT   BE.ID IBLOCK_ELEMENT_ID,
   BEP.IBLOCK_PROPERTY_ID,
   BEP.VALUE,
   BEP.VALUE_NUM
FROM
   b_iblock B
   INNER JOIN b_lang L ON
      B.LID = L.LID
   INNER JOIN b_iblock_element BE ON
      BE.IBLOCK_ID = B.ID
   INNER JOIN (
      SELECT DISTINCT
         BSE.IBLOCK_ELEMENT_ID
      FROM
         b_iblock_section_element BSE
         INNER JOIN b_iblock_section BS ON
            BSE.IBLOCK_SECTION_ID = BS.ID
      WHERE
         (
            BS.LEFT_MARGIN >= 2453
            AND BS.RIGHT_MARGIN <= 3132
         )
         AND BSE.ADDITIONAL_PROPERTY_ID IS NULL
   ) BES ON
      BES.IBLOCK_ELEMENT_ID = BE.ID
   LEFT JOIN b_iblock_element_property BEP ON
      BEP.IBLOCK_ELEMENT_ID = BE.ID
WHERE
   1 = 1
   AND (
      (BE.IBLOCK_ID = 26)
      AND (
         (
            BE.ACTIVE_TO >= now()
            OR BE.ACTIVE_TO IS NULL
         )
         AND (
            BE.ACTIVE_FROM <= now()
            OR BE.ACTIVE_FROM IS NULL
         )
      )
      AND (BE.ACTIVE = 'Y')
   )
   AND (
      BE.WF_STATUS_ID = 1
      AND BE.WF_PARENT_ELEMENT_ID IS NULL
   )
   AND (
      B.ID IN (
         SELECT
            IBLOCK_ID
         FROM
            b_iblock_group IBG
         WHERE
            IBG.GROUP_ID IN (2)
            AND IBG.PERMISSION >= 'R'
            AND (
               IBG.PERMISSION = 'X'
               OR B.ACTIVE = 'Y'
            )
      )
   )
   AND BEP.IBLOCK_PROPERTY_ID IN (299, 327, 652, 653, 654, 655, 656, 660, 661, 662, 666, 668, 669, 671, 674, 675, 676, 677, 679, 682, 683, 686, 689, 695, 1405)
ORDER BY
   BEP.IBLOCK_ELEMENT_ID,
   BEP.IBLOCK_PROPERTY_ID,
   BEP.ID;

SELECT
   BE.ID as ID
FROM
   b_iblock B
   INNER JOIN b_lang L ON
      B.LID = L.LID
   INNER JOIN b_iblock_element BE ON
      BE.IBLOCK_ID = B.ID
   INNER JOIN (
      SELECT DISTINCT
         BSE.IBLOCK_ELEMENT_ID
      FROM
         b_iblock_section_element BSE
         INNER JOIN b_iblock_section BS ON
            BSE.IBLOCK_SECTION_ID = BS.ID
      WHERE
         (BS.GLOBAL_ACTIVE = 'Y')
   ) BES ON
      BES.IBLOCK_ELEMENT_ID = BE.ID
WHERE
   1 = 1
   AND (
      (BE.ACTIVE = 'Y')
      AND (BE.IBLOCK_ID = 26)
   )
   AND (
      BE.WF_STATUS_ID = 1
      AND BE.WF_PARENT_ELEMENT_ID IS NULL
   );

SELECT DISTINCT
   BE.DETAIL_PICTURE as DETAIL_PICTURE
FROM
   b_iblock B
   INNER JOIN b_lang L ON
      B.LID = L.LID
   INNER JOIN b_iblock_element BE ON
      BE.IBLOCK_ID = B.ID
   INNER JOIN (
      SELECT DISTINCT
         BSE.IBLOCK_ELEMENT_ID
      FROM
         b_iblock_section_element BSE
         INNER JOIN b_iblock_section BSubS ON
            BSE.IBLOCK_SECTION_ID = BSubS.ID
         INNER JOIN b_iblock_section BS ON
            (
               BSubS.IBLOCK_ID = BS.IBLOCK_ID
               AND BSubS.LEFT_MARGIN >= BS.LEFT_MARGIN
               AND BSubS.RIGHT_MARGIN <= BS.RIGHT_MARGIN
            )
      WHERE
         (
            BS.ID IN (2761)
         )
   ) BES ON
      BES.IBLOCK_ELEMENT_ID = BE.ID
WHERE
   1 = 1
   AND (
      (
         (
            BE.ACTIVE_TO >= now()
            OR BE.ACTIVE_TO IS NULL
         )
         AND (
            BE.ACTIVE_FROM <= now()
            OR BE.ACTIVE_FROM IS NULL
         )
      )
      AND (BE.ACTIVE = 'Y')
      AND (BE.DETAIL_PICTURE IS NOT NULL)
   )
   AND (
      BE.WF_STATUS_ID = 1
      AND BE.WF_PARENT_ELEMENT_ID IS NULL
   )
LIMIT 1;

SELECT
   `iblock_section`.`IBLOCK_SECTION_ID` AS `IBLOCK_SECTION_ID`,
   `iblock_section`.`ID` AS `UALIAS_0`
FROM
   `b_iblock_section` `iblock_section`
WHERE
   `iblock_section`.`ID` = 48939;

SELECT
   `iblock_section`.`IBLOCK_SECTION_ID` AS `IBLOCK_SECTION_ID`,
   `iblock_section`.`ID` AS `UALIAS_0`
FROM
   `b_iblock_section` `iblock_section`
WHERE
   `iblock_section`.`ID` = 3698;

SELECT
   `iblock_iblock`.`ID` AS `ID`,
   `iblock_iblock`.`API_CODE` AS `API_CODE`
FROM
   `b_iblock` `iblock_iblock`
WHERE
   `iblock_iblock`.`ID` = 5